body {
    background: #f0f0f0;
}

.error {
    all: unset;
    /* resetuje domyślne style div */
    display: block;
    padding: 0.75rem 1rem;
    background: rgba(231, 76, 60, .1);
    border-left: 4px solid #e74c3c;
    color: #e74c3c;
    border-radius: 0.25rem;
    margin: 1rem 0;
}

.success {
    all: unset;
    display: block;
    padding: 0.75rem 1rem;
    background: rgba(231, 76, 60, .1);
    border-left: 4px solid aqua;
    color: aqua;
    border-radius: 0.25rem;
    margin: 1rem 0;
}

.sm {
    font-size: 10px;
}

.boxes {
    background: #eeaaee;
    padding: 5px;
    border-radius: 10px;
    margin: 15px 0px;
}

.tor {
    float: right;
}

.grid-1-5 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* lewa 1 część, prawa 5 części */
    gap: var(--pico-spacing-4);
    /* odstęp taki jak w zwykłym .grid */
}

.grid-5-1 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    /* lewa 5 części, prawa 1 część */
    gap: var(--pico-spacing-4);
}